/* Font to Use */
@import url('https://fonts.googleapis.com/css?family=Literata:400,500,600');

/* Main Body Settings*/
html, body{
	/*height: 100%;
	width: 100%;*/
	margin: 0;
	padding: 0;

	font-family: 'Literata', sans-serif;
	font-size: 0.95rem;
}

canvas {
  display: block;
}

canvas:hover{
	cursor: grab;
}

canvas:active{
	cursor: grabbing;
}

#jscode{
	padding: 0rem;
	margin: 0rem;
	min-height: 100%;
	max-width: 100%;
	background-color: teal;
}

/*
background-size: contain;
  background-color: transparent;
  background-image: url('images/battery.png');
  background-position: center;
*/

.mybutton{
	color: midnightblue;
	background-color: lightgray;
	border-radius: 20px;
	border-width: 1px;
	border-color: midnightblue;
	font-weight: bold;
	/*font-family:monospace;*/
	padding: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
	position: absolute;
	top:90%; 
	left:0%;
}

.mybutton:hover{
	color: white;
	background-color: midnightblue;
	cursor: pointer;
}

.mybutton:active{
	background-color: darkblue;
}

label{
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	color:white;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}